* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .6);
}

.wrap {
    width: 100%;
    height: 100vh;
    background: url(img/bg.jpg) bottom no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 375px;
    height: 750px;
    border-radius: 30px;
    background: #24272c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.phone:first-child {
    margin-right: 60px;
}

.phone-content {
    width: 325px;
    height: 700px;
}

.time {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time h4 {
    color: #fff;
    font-weight: 400;
}

.wifi {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    background-clip: text;
    text-fill-color: transparent;
    background: linear-gradient(180deg, #2fb8ff 0%, #9eecd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px #000000,
        -5px -5px 30px #424242,
        0px 0px 0px 4px #202020 inset,
        -10px -10px 30px #424242 inset,
        10px 10px 30px #000000 inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-item .iconfont {
    background-clip: text;
    text-fill-color: transparent;
    background: linear-gradient(180deg, #2fb8ff 0%, #9eecd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 800;
}

.iconfont {
    font-size: 22px;
}

.banner {
    width: 100%;
    height: 200px;
    background: url(img/tesla.png);
    background-size: cover;
}

.control {
    width: 100%;
    height: 80px;
    background: #24272c;
    border-radius: 40px;
    margin-top: 10px;
    box-shadow: 15px 15px 30px #1c1e22, -15px -15px 30px #2c3036;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.control .iconfont:nth-child(3) {
    background-clip: text;
    text-fill-color: transparent;
    background: linear-gradient(180deg, #2fb8ff 0%, #9eecd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 800;
}

.function-list {
    width: 100%;
    height: 260px;
    border-radius: 40px;
    background: #24272c;
    box-shadow: 15px 15px 30px #1c1e22, -15px -15px 30px #2c3036;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.function {
    width: 86%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.function:first-child {
    margin-top: 20px;
}

.function span:nth-child(2) {
    padding: 10px 20px;
    border-radius: 20px;
    background: #24272c;
    box-shadow: inset 10px 10px 10px #1c1e22, inset -10px -10px 10px #2c3036;
    background-clip: text;
    text-fill-color: transparent;
    background: linear-gradient(180deg, #2fb8ff 0%, #9eecd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.menu {
    width: 100%;
    height: 80px;
    border-radius: 30px;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    border-left: solid 1px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list .iconfont:nth-child(2) {
    background-clip: text;
    text-fill-color: transparent;
    background: linear-gradient(180deg, #2fb8ff 0%, #9eecd9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    font-weight: 800;
}

.menu-bg {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.icon-bg {
    width: 300px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-item:nth-child(2) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #2fb8ff 0%, #9eecd9 100%);
}

/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
/*萌新UP主卑微求点赞，总监日记，撸完即巅峰*/
