@font-face {
  font-family: "iconfont"; /* Project id 3321736 */
  src: url('iconfont.woff2?t=1649745581084') format('woff2'),
       url('iconfont.woff?t=1649745581084') format('woff'),
       url('iconfont.ttf?t=1649745581084') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixiu:before {
  content: "\e63a";
}

.icon-suo:before {
  content: "\e644";
}

.icon-24gf-lock:before {
  content: "\e9d8";
}

.icon-shizhongnaolingjishixianshi:before {
  content: "\e63d";
}

.icon-qichezhizao:before {
  content: "\e62d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-naoling:before {
  content: "\e62c";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-alarmnaoling:before {
  content: "\e73d";
}

.icon-alarm5naoling:before {
  content: "\e73f";
}

.icon-youjiantou:before {
  content: "\e630";
}

.icon-2jiyou:before {
  content: "\e63f";
}

.icon-4qichenicheng:before {
  content: "\e64d";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-youjiantou1:before {
  content: "\e612";
}

.icon-feng:before {
  content: "\e60f";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-zuojiantou:before {
  content: "\e67c";
}

.icon-tesla:before {
  content: "\e613";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-lightning:before {
  content: "\e655";
}

.icon-qiche1:before {
  content: "\e610";
}

.icon-dianchi:before {
  content: "\e614";
}

.icon-icon-test:before {
  content: "\e6f8";
}

.icon-dingwei:before {
  content: "\e86a";
}

.icon-shandian:before {
  content: "\e602";
}

.icon-zuojiantou1:before {
  content: "\e600";
}

.icon-electricity-full:before {
  content: "\e996";
}

.icon-qichexiangguan-jiyou:before {
  content: "\e634";
}

.icon-a-28tongfengfengshan:before {
  content: "\e604";
}

.icon-a-28atongfengfengshan:before {
  content: "\e605";
}

.icon-xiaxue-xuehua:before {
  content: "\e624";
}

